<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Resume</title>
    <style>
      body { display: flex; justify-content: center; font-family: 'Arial',
      'Helvetica', sans-serif; margin: 0; } hr { border: 2px solid #2cde80;
      margin: 20px 0; } .divide > * + * { border-left: 2px solid rgba(0, 0, 0,
      0.5); margin-left: 10px; padding-left: 10px; } #resume { background-color:
      whitesmoke; width: 793.8px; height: 1122.66px; padding: 20px 40px;
      box-sizing: border-box; } #resume-header { text-align: center; }
      #resume-header > h1 { font-size: 2.5rem; margin-bottom: 0.5rem; }
      #resume-header > ul { margin: 8px 0; padding: 0; display: flex;
      justify-content: center; list-style-type: none; } #resume-header > ul > li
      { text-align: center; font-size: 13px; } section { margin: 50px 0; }
      section > p { text-transform: uppercase; font-weight: 600; display: flex;
      align-items: center; } section > p > span { background: #2cde80; height:
      2px; margin-left: 10px; flex: 1; } .section-body { padding: 0 40px;
      font-weight: 400; font-size: 14px; line-height: 20px; } .section-body div
      { margin: 10px 0; } .section-body h3 { margin: 0 0 4px 0; } .skills {
      display: flex; flex-wrap: wrap; gap: 5px; } .skill { background: #000;
      color: black; padding: 5px 10px; border-radius: 10px; }
    </style>
  </head>

  <body>
    <div id='resume'>
      <hr />
      <header id='resume-header'>
        <h1>{{name}}</h1>
        <ul class='divide'>
          <li>
            <b>Experience:</b>
            {{experience}}years
          </li>
          <li>
            <b>Availability:</b>
            {{availability}}
          </li>
          <li>
            <b>Location:</b>
            {{location}}
          </li>
        </ul>
        <ul class='divide'>
          <li>{{email}}</li>
          <li>{{phone}}</li>
        </ul>
      </header>

      <section>
        <p>about me <span></span></p>
        <div class='section-body'>
          {{about}}
        </div>
      </section>

      <section>
        <p>Work Experience <span></span></p>
        <div class='section-body'>
          {{#each experiences}}
            <div>
              <h3>{{employer}} ({{country}})</h3>
              <span class='divide'><span>{{level}}</span><span
                >{{title}}</span></span><br />
              <span>{{convertDate startDate endDate}}</span>

              <div>
                {{{responsibilities}}}
              </div>
            </div>
          {{/each}}
        </div>
      </section>

      <section>
        <p>Education <span></span></p>
        <div class='section-body'>
          {{#each education}}
            <div>
              <h3>{{institution}}</h3>
              <span class='divide'><span>{{degree}}</span><span
                >{{fieldOfStudy}}</span></span><br />
              <span>{{convertDate startDate endDate}}</span>
            </div>
          {{/each}}
        </div>
      </section>

      <section>
        <p>Skills <span></span></p>
        <div class='section-body skills'>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
          <div class='skill'>Database</div>
        </div>
      </section>
    </div>
  </body>

</html>